<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="keywords" content="MediaCenter, Template, eCommerce">
	<meta name="robots" content="all">
	{% block meta_block %}
		{% include "templates/includes/meta_block.html" %}
	{% endblock %}
	<title>{% block title %}{{ title | striptags }}{% endblock %}</title>
	{% block favicon %}
	<link
		rel="shortcut icon"
		href="{{ (favicon or "/assets/frappe/images/frappe-favicon.svg") | abs_url }}"
		type="image/x-icon"
	>
	{% endblock %}

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/bootstrap.min.css">

	<!-- Customizable CSS -->
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/main.css">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/green.css">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/owl.carousel.css">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/owl.transitions.css">
	<!--<link rel="stylesheet" href="assets/css/owl.theme.css">-->
	<link href="/assets/unicase_ecom/assets/css/lightbox.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/animate.min.css">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/rateit.css">
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/bootstrap-select.min.css">

	<!-- Demo Purpose Only. Should be removed in production -->
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/config.css">

	<link href="/assets/unicase_ecom/assets/css/green.css" rel="alternate stylesheet" title="Green color">
	<link href="/assets/unicase_ecom/assets/css/blue.css" rel="alternate stylesheet" title="Blue color">
	<link href="/assets/unicase_ecom/assets/css/red.css" rel="alternate stylesheet" title="Red color">
	<link href="/assets/unicase_ecom/assets/css/orange.css" rel="alternate stylesheet" title="Orange color">
	<link href="/assets/unicase_ecom/assets/css/dark-green.css" rel="alternate stylesheet" title="Darkgreen color">
	<!-- Demo Purpose Only. Should be removed in production : END -->


	<!-- Icons/Glyphs -->
	<link rel="stylesheet" href="/assets/unicase_ecom/assets/css/font-awesome.min.css">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>

	{%- block head -%}
		{% if head_html is defined -%}
		{{ head_html or "" }}
		{%- endif %}


		{%- for link in web_include_css %}
		<link type="text/css" rel="stylesheet" href="{{ link|abs_url }}?ver={{ build_version }}">
		{%- endfor -%}
	{%- endblock -%}

	{%- block head_include %}
		{{ head_include or "" }}
	{% endblock -%}

	{%- block style %}
		{% if colocated_css -%}
			<style>{{ colocated_css }}</style>
		{%- endif %}
	{%- endblock -%}

	<script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = {{ dev_server }};
		window.socketio_port = {{ (frappe.socketio_port or 'null') }};
		window.show_language_picker = {{ show_language_picker }};
	</script>

</head>

<body class="cnt-home">

	<header class="header-style-1">

<!-- ============================================== TOP MENU ============================================== -->
<div class="top-bar animate-dropdown">
	<div class="container">
		<div class="header-top-inner">
			<div class="cnt-account">
				<ul class="list-unstyled">
					<li><a href="#"><i class="icon fa fa-user"></i>My Account</a></li>
					<li><a href="#"><i class="icon fa fa-heart"></i>Wishlist</a></li>
					<li><a href="#"><i class="icon fa fa-shopping-cart"></i>My Cart</a></li>
					<li><a href="#"><i class="icon fa fa-key"></i>Checkout</a></li>
					<li><a href="#"><i class="icon fa fa-sign-in"></i>Login</a></li>
				</ul>
			</div><!-- /.cnt-account -->

			<div class="cnt-block">
				<ul class="list-unstyled list-inline">
					<li class="dropdown dropdown-small">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span
								clarss="key">currency :</span><span class="value">USD </span><b
								class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">USD</a></li>
							<li><a href="#">INR</a></li>
							<li><a href="#">GBP</a></li>
						</ul>
					</li>

					<li class="dropdown dropdown-small">
						<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"><span
								class="key">language :</span><span class="value">English </span><b
								class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">English</a></li>
							<li><a href="#">French</a></li>
							<li><a href="#">German</a></li>
						</ul>
					</li>
				</ul><!-- /.list-unstyled -->
			</div><!-- /.cnt-cart -->
			<div class="clearfix"></div>
		</div><!-- /.header-top-inner -->
	</div><!-- /.container -->
</div><!-- /.header-top -->
<!-- ============================================== TOP MENU : END ============================================== -->
<div class="main-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
				<!-- ============================================================= LOGO ============================================================= -->
				<div class="logo">
					<a href="home.html">

						<img src="/assets/unicase_ecom/assets/images/logoo1.png" alt="">

					</a>
				</div><!-- /.logo -->
				<!-- ============================================================= LOGO : END ============================================================= -->
			</div><!-- /.logo-holder -->

			<div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
				<div class="contact-row">
					<div class="phone inline">
						<i class="icon fa fa-phone"></i> (400) 888 888 868
					</div>
					<div class="contact inline">
						<i class="icon fa fa-envelope"></i> saler@unicase.com
					</div>
				</div><!-- /.contact-row -->
				<!-- ============================================================= SEARCH AREA ============================================================= -->
				<div class="search-area">
					<form>
						<div class="control-group">

							<ul class="categories-filter animate-dropdown">
								<li class="dropdown">

									<a class="dropdown-toggle" data-toggle="dropdown"
										href="category.html">Categories <b class="caret"></b></a>

									<ul class="dropdown-menu" role="menu">
										<li class="menu-header">Computer</li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
												href="category.html">- Laptops</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
												href="category.html">- Tv & audio</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
												href="category.html">- Gadgets</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1"
												href="category.html">- Cameras</a></li>

									</ul>
								</li>
							</ul>

							<input class="search-field" placeholder="Search here..." />

							<a class="search-button" href="#"></a>

						</div>
					</form>
				</div><!-- /.search-area -->
				<!-- ============================================================= SEARCH AREA : END ============================================================= -->
			</div><!-- /.top-search-holder -->

			<div class="col-xs-12 col-sm-12 col-md-3 animate-dropdown top-cart-row">
				<!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

				<div class="dropdown dropdown-cart">
					<a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
						<div class="items-cart-inner">
							<div class="total-price-basket">
								<span class="lbl">cart -</span>
								<span class="total-price">
									<span class="sign">$</span>
									<span class="value">600.00</span>
								</span>
							</div>
							<div class="basket">
								<i class="glyphicon glyphicon-shopping-cart"></i>
							</div>
							<div class="basket-item-count"><span class="count">2</span></div>

						</div>
					</a>
					<ul class="dropdown-menu">
						<li>
							<div class="cart-item product-summary">
								<div class="row">
									<div class="col-xs-4">
										<div class="image">
											<a href="detail.html"><img
													src="/assets/unicase_ecom/assets/images/cart.jpg"
													alt=""></a>
										</div>
									</div>
									<div class="col-xs-7">

										<h3 class="name"><a href="index.php?page-detail">Simple Product</a></h3>
										<div class="price">$600.00</div>
									</div>
									<div class="col-xs-1 action">
										<a href="#"><i class="fa fa-trash"></i></a>
									</div>
								</div>
							</div><!-- /.cart-item -->
							<div class="clearfix"></div>
							<hr>

							<div class="clearfix cart-total">
								<div class="pull-right">

									<span class="text">Sub Total :</span><span class='price'>$600.00</span>

								</div>
								<div class="clearfix"></div>

								<a href="checkout.html"
									class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a>
							</div><!-- /.cart-total-->


						</li>
					</ul><!-- /.dropdown-menu-->
				</div><!-- /.dropdown-cart -->

				<!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
			</div><!-- /.top-cart-row -->
		</div><!-- /.row -->

	</div><!-- /.container -->

</div><!-- /.main-header -->


<div class="body-content outer-top-xs" id="top-banner-and-menu">
<div class="container">
	<div class="row" id="navtop">
		<!-- ============================================== SIDEBAR ============================================== -->
		<div class="col-xs-12 col-sm-12 col-md-3 sidebar">

			<!-- ================================== TOP NAVIGATION ================================== -->
			<div class="side-menu animate-dropdown outer-bottom-xs">
				<div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
				<nav class="yamm megamenu-horizontal" role="navigation">
					<ul class="nav">
						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-desktop fa-fw"></i>Computer</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-mobile fa-fw"></i>Smart Phone</a>
							<!-- ================================== MEGAMENU VERTICAL ================================== -->
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-lg-4">
											<ul>
												<li><a href="#">Computer Cases &amp; Accessories</a></li>
												<li><a href="#">CPUs, Processors</a></li>
												<li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
												<li><a href="#">Graphics, Video Cards</a></li>
												<li><a href="#">Interface, Add-On Cards</a></li>
												<li><a href="#">Laptop Replacement Parts</a></li>
												<li><a href="#">Memory (RAM)</a></li>
												<li><a href="#">Motherboards</a></li>
												<li><a href="#">Motherboard &amp; CPU Combos</a></li>
												<li><a href="#">Motherboard Components &amp; Accs</a></li>
											</ul>
										</div>

										<div class="col-xs-12 col-sm-12 col-lg-4">
											<ul>
												<li><a href="#">Power Supplies Power</a></li>
												<li><a href="#">Power Supply Testers Sound</a></li>
												<li><a href="#">Sound Cards (Internal)</a></li>
												<li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
												<li><a href="#">Other</a></li>
											</ul>
										</div>

										<div class="dropdown-banner-holder">
											<a href="#"><img alt=""
													src="/assets/unicase_ecom/assets/images/banners/banner-side.png" /></a>
										</div>
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
							<!-- ================================== MEGAMENU VERTICAL ================================== -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-apple fa-fw"></i>Apple Store</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-camera fa-fw"></i>Camera</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-headphones fa-fw"></i>TV & Audio</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-gamepad fa-fw"></i>Game & Video</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-location-arrow fa-fw"></i>Car Electronic</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-history fa-fw"></i>Old Products</a>
							<!-- ================================== MEGAMENU VERTICAL ================================== -->
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-xs-12 col-sm-12 col-lg-4">
											<ul>
												<li><a href="#">Computer Cases &amp; Accessories</a></li>
												<li><a href="#">CPUs, Processors</a></li>
												<li><a href="#">Fans, Heatsinks &amp; Cooling</a></li>
												<li><a href="#">Graphics, Video Cards</a></li>
												<li><a href="#">Interface, Add-On Cards</a></li>
												<li><a href="#">Laptop Replacement Parts</a></li>
												<li><a href="#">Memory (RAM)</a></li>
												<li><a href="#">Motherboards</a></li>
												<li><a href="#">Motherboard &amp; CPU Combos</a></li>
												<li><a href="#">Motherboard Components &amp; Accs</a></li>
											</ul>
										</div>

										<div class="col-xs-12 col-sm-12 col-lg-4">
											<ul>
												<li><a href="#">Power Supplies Power</a></li>
												<li><a href="#">Power Supply Testers Sound</a></li>
												<li><a href="#">Sound Cards (Internal)</a></li>
												<li><a href="#">Video Capture &amp; TV Tuner Cards</a></li>
												<li><a href="#">Other</a></li>
											</ul>
										</div>

										<div class="dropdown-banner-holder">
											<a href="#"><img alt=""
													src="/assets/unicase_ecom/assets/images/banners/banner-side.png" /></a>
										</div>
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
							<!-- ================================== MEGAMENU VERTICAL ================================== -->
						</li><!-- /.menu-item -->

						<li class="dropdown menu-item">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
									class="icon fa fa-microphone fa-fw"></i>Accessories</a>
							<ul class="dropdown-menu mega-menu">
								<li class="yamm-content">
									<div class="row">
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Lenovo</a></li>
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Fuhlen</a></li>
												<li><a href="category.html">Longsleeves</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Polos</a></li>
												<li><a href="category.html">Sweaters</a></li>
												<li><a href="category.html">Shirts</a></li>
												<li><a href="category.html">Hoodies</a></li>
											</ul>
										</div><!-- /.col -->
										<div class="col-sm-12 col-md-3">
											<ul class="links list-unstyled">
												<li><a href="category.html">Microsoft</a></li>
												<li><a href="category.html">Apple</a></li>
												<li><a href="category.html">Tees & Tanks</a></li>
												<li><a href="category.html">Graphic Tees</a></li>
											</ul>
										</div><!-- /.col -->
									</div><!-- /.row -->
								</li><!-- /.yamm-content -->
							</ul><!-- /.dropdown-menu -->
						</li><!-- /.menu-item -->

					</ul><!-- /.nav -->
				</nav><!-- /.megamenu-horizontal -->
			</div><!-- /.side-menu -->
			<!-- ================================== TOP NAVIGATION : END ================================== -->
		

		</div><!-- /.sidemenu-holder -->
		<!-- ============================================== SIDEBAR : END ============================================== -->

		<!-- ============================================== CONTENT ============================================== -->
		<div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
			<!-- ========================================== SECTION – HERO ========================================= -->

			<div id="hero">
				<div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">

					<div class="item"
						style="background-image: url(/assets/unicase_ecom/assets/images/sliders/slider1.jpg);">
						<div class="container-fluid">
							<div class="caption bg-color vertical-center text-left">
								<div class="big-text fadeInDown-1">
									The new <span class="highlight">imac</span> for you
								</div>

								<div class="excerpt fadeInDown-2 hidden-xs">

									<span>21.5-Inch Now Starting At $1099 </span>
									<span>27-Inch Starting At $1799</span>
								</div>
								<div class="button-holder fadeInDown-3">
									<a href="index.php?page=single-product"
										class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop
										Now</a>
								</div>
							</div><!-- /.caption -->
						</div><!-- /.container-fluid -->
					</div><!-- /.item -->

					<div class="item"
						style="background-image: url(/assets/unicase_ecom/assets/images/sliders/slider1.jpg);">
						<div class="container-fluid">
							<div class="caption bg-color vertical-center text-left">
								<div class="big-text fadeInDown-1">
									The new <span class="highlight">imac</span> for you
								</div>

								<div class="excerpt fadeInDown-2 hidden-xs">

									<span>21.5-Inch Now Starting At $1099 </span>
									<span>27-Inch Starting At $1799</span>
								</div>
								<div class="button-holder fadeInDown-3">
									<a href="index.php?page=single-product"
										class="btn-lg btn btn-uppercase btn-primary shop-now-button">Shop
										Now</a>
								</div>
							</div><!-- /.caption -->
						</div><!-- /.container-fluid -->
					</div><!-- /.item -->



				</div><!-- /.owl-carousel -->
			</div>

			<!-- ========================================= SECTION – HERO : END ========================================= -->

			<!-- ============================================== INFO BOXES ============================================== -->
			<div class="info-boxes wow fadeInUp">
				<div class="info-boxes-inner">
					<div class="row">
						<div class="col-md-6 col-sm-4 col-lg-4">
							<div class="info-box">
								<div class="row">
									<div class="col-xs-2">
										<i class="icon fa fa-dollar"></i>
									</div>
									<div class="col-xs-10">
										<h4 class="info-box-heading green">money back</h4>
									</div>
								</div>
								<h6 class="text">30 Day Money Back Guarantee.</h6>
							</div>
						</div><!-- .col -->

						<div class="hidden-md col-sm-4 col-lg-4">
							<div class="info-box">
								<div class="row">
									<div class="col-xs-2">
										<i class="icon fa fa-truck"></i>
									</div>
									<div class="col-xs-10">
										<h4 class="info-box-heading orange">free shipping</h4>
									</div>
								</div>
								<h6 class="text">free ship-on oder over $600.00</h6>
							</div>
						</div><!-- .col -->

						<div class="col-md-6 col-sm-4 col-lg-4">
							<div class="info-box">
								<div class="row">
									<div class="col-xs-2">
										<i class="icon fa fa-gift"></i>
									</div>
									<div class="col-xs-10">
										<h4 class="info-box-heading red">Special Sale</h4>
									</div>
								</div>
								<h6 class="text">All items-sale up to 20% off </h6>
							</div>
						</div><!-- .col -->
					</div><!-- /.row -->
				</div><!-- /.info-boxes-inner -->

			</div><!-- /.info-boxes -->
			<!-- ============================================== INFO BOXES : END ============================================== -->


		</div>
	</div>
</div>
</div>


<!-- ============================================== NAVBAR ============================================== -->
<div class="header-nav animate-dropdown">
	<div class="container">
		<div class="yamm navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
					class="navbar-toggle collapsed" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="nav-bg-class">
				<div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
					<div class="nav-outer">
						<ul class="nav navbar-nav">
							<li class="active dropdown yamm-fw">
								<a href="home.html" data-hover="dropdown" class="dropdown-toggle"
									data-toggle="dropdown">Home</a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<div class="col-md-8 col-sm-8">
													<div class="row">
														<div class='col-md-12'>

															<div class="col-xs-12 col-sm-6 col-md-3">
																<h2 class="title">Computer</h2>
																<ul class="links">
																	<li><a href="#">Lenovo</a></li>
																	<li><a href="#">Microsoft </a></li>
																	<li><a href="#">Fuhlen</a></li>
																	<li><a href="#">Longsleeves</a></li>
																</ul>
															</div><!-- /.col -->

															<div class="col-xs-12 col-sm-6 col-md-3">
																<h2 class="title">Camera</h2>
																<ul class="links">
																	<li><a href="#">Fuhlen</a></li>
																	<li><a href="#">Lenovo</a></li>
																	<li><a href="#">Microsoft </a></li>
																	<li><a href="#">Longsleeves</a></li>
																</ul>
															</div><!-- /.col -->

															<div class="col-xs-12 col-sm-6 col-md-3">
																<h2 class="title">Apple Store</h2>
																<ul class="links">
																	<li><a href="#">Longsleeves</a></li>
																	<li><a href="#">Fuhlen</a></li>
																	<li><a href="#">Lenovo</a></li>
																	<li><a href="#">Microsoft </a></li>
																</ul>
															</div><!-- /.col -->

															<div class="col-xs-12 col-sm-6 col-md-3">
																<h2 class="title">Smart Phone</h2>
																<ul class="links">
																	<li><a href="#">Microsoft </a></li>
																	<li><a href="#">Longsleeves</a></li>
																	<li><a href="#">Fuhlen</a></li>
																	<li><a href="#">Lenovo</a></li>

																</ul>
															</div><!-- /.col -->

														</div>

													</div>
												</div>
												<div class="col-sm-4">
												</div>
											</div><!-- /.row -->

											<!-- ============================================== WIDE PRODUCTS ============================================== -->
											<div class="wide-banners megamenu-banner">
												<div class="row">
													<div class="col-sm-12 col-md-8">
														<div class="row">
															<div class="col-md-12">
																<div class="col-sm-6 col-md-6">
																	<div class="wide-banner cnt-strip">
																		<div class="image">
																			<img class="img-responsive"
																				data-echo="/assets/unicase_ecom/assets/images/banners/navban.jpg"
																				src="/assets/unicase_ecom/assets/images/banners/navban.jpg"
																				alt="">
																		</div>
																		<div class="strip">
																			<div class="strip-inner text-right">
																				<h3 class="white">new trend</h3>
																				<h2 class="white">apple product
																				</h2>
																			</div>
																		</div>
																	</div><!-- /.wide-banner -->
																</div><!-- /.col -->

																<div class="col-sm-6 col-md-6">
																	<div class="wide-banner cnt-strip">
																		<div class="image">
																			<img class="img-responsive"
																				data-echo="/assets/unicase_ecom/assets/images/banners/navban2.jpg"
																				src="/assets/unicase_ecom/assets/images/banners/navban2.jpg"
																				alt="">
																		</div>
																		<div class="strip">
																			<div class="strip-inner text-left">
																				<h3 class="white">camera
																					collection</h3>
																				<h2 class="white">new arrivals
																				</h2>
																			</div>
																		</div>
																	</div><!-- /.wide-banner -->
																</div><!-- /.col -->
															</div>

														</div><!-- /.row -->
													</div>
													<div class="col-sm-12 col-md-4 hidden-xs hidden-sm">
														<p class="text ">LenovoProin gravida nibh vel velit
															auctor aliquet es Aenean sollicitudin,lorem quis
															bibendu auctor,nisi elit consequat ipsum auctor.</p>
													</div>
												</div>
											</div><!-- /.wide-banners -->

											<!-- ============================================== WIDE PRODUCTS : END ============================================== -->

										</div><!-- /.yamm-content -->
									</li>
								</ul>
							</li>
							<li class="dropdown yamm">
								<a href="home.html" data-hover="dropdown" class="dropdown-toggle"
									data-toggle="dropdown">Desktop</a>
								<ul class="dropdown-menu">
									<li>
										<div class="yamm-content">
											<div class="row">
												<div class='col-sm-12'>
													<div class="col-xs-12 col-sm-12 col-md-4">
														<h2 class="title">Laptops &amp; Notebooks</h2>
														<ul class="links">
															<li><a href="#">Power Supplies Power</a></li>
															<li><a href="#">Power Supply Testers Sound </a></li>
															<li><a href="#">Sound Cards (Internal)</a></li>
															<li><a href="#">Video Capture &amp; TV Tuner
																	Cards</a></li>
															<li><a href="#">Other</a></li>
														</ul>
													</div><!-- /.col -->

													<div class="col-xs-12 col-sm-12 col-md-4">
														<h2 class="title">Computers &amp; Laptops</h2>
														<ul class="links">
															<li><a href="#">Computer Cases &amp; Accessories</a>
															</li>
															<li><a href="#">CPUs, Processors</a></li>
															<li><a href="#">Fans, Heatsinks &amp; Cooling</a>
															</li>
															<li><a href="#">Graphics, Video Cards</a></li>
															<li><a href="#">Interface, Add-On Cards</a></li>
															<li><a href="#">Laptop Replacement Parts</a></li>
															<li><a href="#">Memory (RAM)</a></li>
															<li><a href="#">Motherboards</a></li>
															<li><a href="#">Motherboard &amp; CPU Combos</a>
															</li>
															<li><a href="#">Motherboard Components &amp;
																	Accs</a></li>
														</ul>
													</div><!-- /.col -->

													<div class="col-xs-12 col-sm-12 col-md-4">
														<h2 class="title">Dekstop Parts</h2>
														<ul class="links">
															<li><a href="#">Power Supplies Power</a></li>
															<li><a href="#">Power Supply Testers Sound</a></li>
															<li><a href="#">Sound Cards (Internal)</a></li>
															<li><a href="#">Video Capture &amp; TV Tuner
																	Cards</a></li>
															<li><a href="#">Other</a></li>
														</ul>
													</div><!-- /.col -->
												</div>
											</div><!-- /.row -->
										</div><!-- /.yamm-content -->
									</li>
								</ul>
							</li>

							<li class="dropdown">

								<a href="category.html">Electronics
									<span class="menu-label hot-menu hidden-xs">hot</span>
								</a>
							</li>
							<li class="dropdown hidden-sm">

								<a href="category.html">Television
									<span class="menu-label new-menu hidden-xs">new</span>
								</a>
							</li>

							<li class="dropdown hidden-sm">
								<a href="category.html">Smart Phone</a>
							</li>

							<li class="dropdown">
								<a href="contact.html">Contact</a>
							</li>

							<li class="dropdown navbar-right">
								<a href="#" class="dropdown-toggle" data-hover="dropdown"
									data-toggle="dropdown">Pages</a>
								<ul class="dropdown-menu pages">
									<li>
										<div class="yamm-content">
											<div class="row">

												<div class='col-xs-12 col-sm-4 col-md-4'>
													<ul class='links'>
														<li><a href="home.html">Home I</a></li>
														<li><a href="home2.html">Home II</a></li>
														<li><a href="category.html">Category</a></li>
														<li><a href="category-2.html">Category II</a></li>
														<li><a href="detail.html">Detail</a></li>
														<li><a href="detail2.html">Detail II</a></li>
														<li><a href="shopping-cart.html">Shopping Cart
																Summary</a></li>

													</ul>
												</div>
												<div class='col-xs-12 col-sm-4 col-md-4'>
													<ul class='links'>
														<li><a href="checkout.html">Checkout</a></li>
														<li><a href="blog.html">Blog</a></li>
														<li><a href="blog-details.html">Blog Detail</a></li>
														<li><a href="contact.html">Contact</a></li>
														<li><a href="homepage1.html">Homepage 1</a></li>
														<li><a href="homepage2.html">Homepage 2</a></li>
														<li><a href="home-furniture.html">Home Furniture</a>
														</li>
													</ul>
												</div>
												<div class='col-xs-12 col-sm-4 col-md-4'>
													<ul class='links'>
														<li><a href="sign-in.html">Sign In</a></li>
														<li><a href="my-wishlist.html">Wishlist</a></li>
														<li><a href="terms-conditions.html">Terms and
																Condition</a></li>
														<li><a href="track-orders.html">Track Orders</a></li>
														<li><a
																href="product-comparison.html">Product-Comparison</a>
														</li>
														<li><a href="faq.html">FAQ</a></li>
														<li><a href="404.html">404</a></li>
													</ul>

												</div>

											</div>
										</div>
									</li>


								</ul>
							</li>

						</ul><!-- /.navbar-nav -->
						<div class="clearfix"></div>
					</div><!-- /.nav-outer -->
				</div><!-- /.navbar-collapse -->


			</div><!-- /.nav-bg-class -->
		</div><!-- /.navbar-default -->
	</div><!-- /.container-class -->

</div><!-- /.header-nav -->

<!-- ============================================== NAVBAR : END ============================================== -->
</header>

	<div class="body-content outer-top-xs" id="top-banner-and-menu">
		<div class="container">
			{% block content %}
				{{ content }}
			{% endblock %}
		</div>
	</div>
	


	<a href="#" id="back-to-top"></a>

	{%- block footer -%}
{{
	 web_block(
				footer_template or 'Standard Footer',
				values=_context_dict,
				add_container=0,
				add_top_padding=0,
				add_bottom_padding=0
			)
}}
{%- endblock -%}


	<!-- JavaScripts placed at the end of the document so the pages load faster -->
	<script src="/assets/unicase_ecom/assets/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/assets/js/frappe-web.min.js?ver={{ build_version }}"></script>

	<script src="/assets/unicase_ecom/assets/js/bootstrap.min.js"></script>

	<script src="/assets/unicase_ecom/assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/owl.carousel.min.js"></script>

	<script>
		frappe.boot = {
			sysdefaults: {
				float_precision: parseInt("{{ frappe.get_system_settings('float_precision') or 3 }}"),
				date_format: "{{ frappe.get_system_settings('date_format') or 'yyyy-mm-dd' }}",
			}
		};
		// for backward compatibility of some libs
		frappe.sys_defaults = frappe.boot.sysdefaults;
	</script>

	<script src="/assets/unicase_ecom/assets/js/echo.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/jquery.easing-1.3.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/bootstrap-slider.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/jquery.rateit.min.js"></script>
	<script type="text/javascript" src="/assets/unicase_ecom/assets/js/lightbox.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/bootstrap-select.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/wow.min.js"></script>
	<script src="/assets/unicase_ecom/assets/js/scripts.js"></script>

	<!-- For demo purposes – can be removed on production -->

	<script src="/assets/unicase_ecom/assets/switchstylesheet/switchstylesheet.js"></script>
	
	<script>
		$(document).ready(function () {
			$(".changecolor").switchstylesheet({
				seperator: "color"
			});
			$('.show-theme-options').click(function () {
				$(this).parent().toggleClass('open');
				return false;
			});
		});

		$(window).bind("load", function () {
			$('.show-theme-options').delay(2000).trigger('click');
		});
	</script>
	{%- for link in web_include_js %}
	<script type="text/javascript" src="{{ link | abs_url }}?ver={{ build_version }}"></script>
	{%- endfor -%}

	{%- block script %}
		{% if colocated_js -%}
			<script>{{ colocated_js }}</script>
		{%- endif %}
	{%- endblock %}
	<!-- csrf_token -->
	{%- block body_include %}{{ body_include or "" }}{% endblock -%}

</body>

</html>